@font-face {
  font-family: 'DancingScript';
  src: url('DancingScript.otf');
}

body {
	background-color: #02010a;
	font-family: DancingScript;
}

header{
  background-color: #5b7989;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

#contenido {
	width:900px;
	margin: 0 auto;
}

.contenedor {
	display: flex;
	flex-flow: row wrap;
}

nav li {
	display: inline;
}

.active {
	text-decoration:none !important;
}

a{
	color:white;
	text-align: center;
}

.c1 {
  width: 70%;
}
#c1{
	color: white;
	text-shadow: 0 0 2px #02010a;
}

.c2 {
	width: 30%;
}



.imagen{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 80%;
	border: solid 1px black;
	-webkit-filter:drop-shadow(2px 2px 2px #02010a);
	filter:drop-shadow(2px 2px 2px #02010a);
}

#img1 {
	text-align:center;
	background-color:#82c3a6;
	width: 100%;
}


#img2 {
	text-align:center;
	background-color: #d5c75f ;
	width: 100%;
}

footer {
	text-align:rigth;
	background-color: #C6d5c5 ;
	width: 100%;
	border-radius: 0px 0px 10px 10px;
}


.c3 {
  width: 50%;
  font-size: 200%
 }
 
.c4 {
  width: 50%;
  font-size: 200%
}

.c5 {
  width: 100%;
}

#c3 img{
	transition-duration: 1s;
}

#c3 img:hover{
   	transform: rotate(10deg);
	box-shadow: 8px 8px #82c3a6;
	border: solid 2px black;
}

#c4 img{
	transition-duration: 1s;
}

#c4 img:hover{
   	transform: translate(20px,-5px);
	box-shadow: 8px 8px #82c3a6;
	border: solid 1px black;
}



.c6 {
  width: 25%;
}
#c6{
	padding-left: 15px;
	padding-right: 15px;
}

 
.c7 {
  width: 25%;
}
#c7{
	padding-left: 15px;
	padding-right: 15px;
}

.c8 {
  width: 25%;
}
#c8{
	padding-left: 15px;
	padding-right: 15px;
}

.c9 {
  width: 25%;
}
#c9{
	padding-left: 15px;
	padding-right: 15px;
}

/*imagen1*/
.c10 {
	width: 33.3%;
	-webkit-filter:blur(10px);
	filter:blur(10px);
 }
 
/*imagen2*/ 
.c11 {
	width: 33.3%;
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%);
}

/*imagen3*/
.c12 {
	width: 33.3%;
	-webkit-filter:sepia(90%);
	filter:sepia(90%);
}

/*imagen4*/
.c13 {
	width: 33.3%;
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%);
 }
 
 /*imagen5*/
.c14 {
  width: 33.3%;
}

/*imagen6*/
.c15 {
	width: 33.3%;
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%);
}



@media (min-width:900px) {

	.c1 {
		width: 70%;
		text-align: left;
	}
	#c1{
		padding-left:50px;
	}

	.c2 {
		width: 30%;
		text-align: center;
	}
	#c2{
		padding-top:20px;
	
	}
	
	.c5 {
		width: 100%;
	}
	.c3 {
		width: 50%;
	}

	.c4 {
		width: 50%;
	}

	
	.c6 {
		width: 25%;

	}
	.c7 {
		width: 25%;
	
	}
	.c8 {
		width: 25%;
	
	}
	.c9 {
		width: 25%;

	}

	.c10 {
		width: 33.3%;
	}
	
	.c11 {
		width: 33.3%;
	}
	
	.c12 {
		width: 33.3%;
	}
	
	
	.c13 {
		width: 33.3%;

	}

	.c14 {
		width: 33.3%;
	
	}
	
	.c15 {
		width: 33.3%;

	}

}

@media (max-width: 900px) {
	
	#contenido {
		width:100%;
		margin:0 auto;
	}
	
	
	.c1 {
		width: 100%;
		order: 1;
		text-align: center;
	}
	#c1 h1 {
		font-size: 300%;
	}
	
	
	.c2 {
		width: 100%;
		order: 2;
	}
	#c2{
		text-align: center;
		font-size: 200%;
	}
	
	nav li {
		margin: 10px;
	}

	
	
	.c5 {
		width: 100%;
		order: 3;
	}
	.c3 {
		width: 100%;
		order: 4;
	}
	.c4 {
		width: 100%;
		order: 5;
	}
	
	.c6 {
		width: 100%;
		font-size: 200%;
		order: 6;
	}
	
	.c7 {
		width: 100%;
		font-size: 200%;
		order: 7;
	}
	.c8 {
		width: 100%;
		font-size: 200%;
		order: 8;
	}
	.c9 {
		width: 100%;
		font-size: 200%;
		order: 9;
	}

	.c10 {
		width: 100%;
		order: 1;
	}

	.c11 {
		width: 100%;
		order: 2;
	}
	
	.c12 {
		width: 100%;
		order: 3;
	}

	.c13 {
		width: 100%;
		order: 4;
	}

	.c14 {
		width: 100%;
		order: 5;
	}
	
	.c15 {
		width: 100%;
		order: 6;
	}
	

	body {
	background-color: #02010a;
	font-family: DancingScript;
	font-size: 3vw;
}
}
