header{
  background-color: #5b7989;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
header h1 {
	color: white;
	text-shadow: 0 0 20px #02010a;
	margin: 5px 20px;
}

.contenedor {
	display: flex;
	flex-flow: row wrap;
}

#banner nav li {
	float: center;
	display: inline;
	margin: 0px 10px ;
}
#banner nav a:link, #banner nav a:visited {
/*display: inline-block;
text-decoration: none;*/
}

.c1 {
  width: 70%;
}
.c2 {
  width: 30%;
}


.centro {
	width:100%;
	height:500px;
	line-height:500px;
	margin:0px auto;
	text-align:center;
	background-color:#82c3a6;
}

.imagen{
	vertical-align:middle;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 80%;
}

.contenedor1 {
	display: flex;
	flex-flow: row wrap;
}

#img2 {
	text-align:center;
	background-color: #d5c75f ;
	width: 100%;
	height: 30px;
}

.c3 {
  margin-top: 5px;
  width: 50%;
  background-color: green;
}
.c4 {
  margin-top: 5px;
  width: 50%;
  background-color: yellow;
}



@media all and (max-width: 500px) {
	.c1 {
		width: 70%;
	}

	.c2 {
		width: 30%;
	}
	
	.centro {
		width: 100%;
	}
	.c3 {
		width: 50%;
	}

	.c4 {
		width: 50%;
	}

}

@media all and (max-width: 800px) and (min-width: 100px) {
	.c1 {
		width: 100%;
		order: 1;
	}
	.c2 {
		width: 100%;
		order: 2;
	}
	.centro {
		width: 100%;
		order: 3;
	}
	.c3 {
		width: 100%;
		order: 4;
	}
	.c4 {
		width: 100%;
		order: 5;
	}
	
}
